body {
  color: #e8e8e8;
  background: #222222;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 50px;
  /*line-height: 1.5em;*/
  font-size: 0.8em;
}


a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #d2d2d2;
}

h1 {
  text-align: center;
  font-size: 4em;
}
